
.landing-title {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 78px;
    position: fixed;
    top: 35%;
    left: calc(50% - 97px);
    color: black;
}

.landing-title:hover {
    color: #73c0ad
}

.main-nav {
  background-color: transparent;
  box-shadow: none;
}

.main-nav a {
    color: black;
}

.stampnav {
  padding: 20px;
}


