p {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 24px;
}

.card-title {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
}

h1 {
    font-family: 'Hind', sans-serif;
    font-size: 48px;
}

.city-buttons {
    text-align: center;
    padding: 20px;
}

.citybtn {
    margin: 15px;
}