

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 38px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #36333e;
  border: 2px solid #36333e;
  border-radius: 50%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.6em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(20, 18, 27, 0.2);
}