.navbar-default {
  padding: 10px;
  background: #73c0ad;

}

.topnav>li>a {
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    color: white !important;
}

input {
    font-family: 'Hind', sans-serif;
      font-size: larger;
}
